<%- include('../partials/header') %>

<h1> Share Your Doodle</h1>

<div class='formParent'>
  <form class='formDoodles' action="/share" method="POST">

    <label>Name:
      <input type='text' name='name'>
    </label>
    <label>Sex:
      <input type='text' name='sex'>
    </label>
    </label>
    <label>Age:
      <input type='text' name='age'>
    </label>


    <label for="Images"> Images</label>
    <input type='text' name="image">
    </input>

    <!-- <form action='/api/images' method="post" enctype="multipart/form-data">
      <input type='file' name='image' />
    </form> -->



    <input type="submit" value="Add Doodle">

  </form>
</div>
<br>


<div class='container-fluid'>
  <div class="row-dog">
    <div class="col-md-3">

      <% goldendoodles.forEach(function(g) { %>

        <div class="text">
          <h3><strong>Name</strong>:<%= g.name %></h3>
          <h3><strong>Gender</strong>:<%= g.sex%></h3>
          <h3><strong>Age</strong>:<%= g.age %></h3>


          <form action='/share/<%= g._id %>?_method=DELETE' class='delete' method='post'>
            <br>
            <a href="/share/<%= g._id %>/edit">Edit</a>
            <button class='x' type='submit'>X</button>
          </form>
        </div>  
        <br>
          <img class='shared-dogs'src='<%= g.image %>' style="width:250px;height:300px;">


        <% }); %>
  


    </div>
  </div>
</div>

<br>
<br>
<br>


<%- include('../partials/footer') %>