<%- include('../partials/header') %>

<h1> SHARE Your Doodle</h1>


<form class='form' action="/share" method="POST">
  
        <label>Name:
            <input type='text' name='name'>
        </label>
        <label>Sex:
            <input type='text' name='sex'>
        </label>
        </label>
        <label>Age:
            <input type='text' name='age'>
        </label>
       
        <input type="submit" value="Add Doodle">

    </form>
    
    <br>

    <table class='center' style='width:40%' id="list">
        <thead>
          <tr>
            <th>Name</th>
            <th>Sex</th>
            <th>Age</th>
            <th>Image</th>
          </tr>
        </thead>
        
        <tbody>
          <% goldendoodles.forEach(function(g) { %>
            <tr><td>
              <td><%= g.name %></td>
              <td><%= g.sex%></td>
              <td><%= g.age %></td>
              <td><img src='<%= g.image %>' style="width:250px;height:300px;"></td>
              
              <form action='/share/<%= g._id %>?_method=DELETE' class='delete-form' method='post'>

                <button type='submit'>X</button>

            </form>

            <a href="/share/<%= g._id %>/edit">Edit</a>

            </tr>
            
            <% }); %>
            
          </tbody>
      
<br>
<%- include('../partials/footer') %>