<%- include('../partials/header') %>

<h1> SHARE Your Doodle</h1>


<form class='form' action="/share" method="POST">

  <label>Name:
    <input type='text' name='name'>
  </label>
  <label>Sex:
    <input type='text' name='sex'>
  </label>
  </label>
  <label>Age:
    <input type='text' name='age'>
  </label>


  <label for="Images">Images</label>
  <select name="scarlet" id="scar" class="icon-menu">
    <option style="padding-left:0px;" value="">Select a Doodle Image</option>
    <option style="background-image:url(https://imgur.com/k34xAuj.jpg);" value="img">Scarlet</option>



    <input type="submit" value="Add Doodle">

</form>

<br>

<div class='titles' style='width:50%' id="list">

  <label>Name</label>
  <label>Sex</label>
  <label>Age</label>
  <label>Image</label>

</div>

<body>
  <div class='GDShare'>
    <ul>
      <% goldendoodles.forEach(function(g) { %>

      <li><%= g.name %></li>
      <li><%= g.sex%></li>
      <li><%= g.age %></li>
      <li><img src='<%= g.image %>' style="width:250px;height:300px;"></li>

      <form action='/share/<%= g._id %>?_method=DELETE' class='delete' method='post'>

        <br>
        
        <button type='submit'>X</button>

      </form>
      <a href="/share/<%= g._id %>/edit">Edit</a>




      <% }); %>

    </ul>
  </div>
</body>

<br>
<%- include('../partials/footer') %>